.tab-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $tabbarHeight;
  font-size: 32px;
  background: #fff;
  //filter: blur(10rpx);
  //transform: scale(1.2);
  //opacity: 0.95;
  box-shadow: 0 5px 5px 0 #515151 inset;
  &-wrap {
    display: flex;
    height: 120px;
    margin-top: 20px;
    &-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 8px;
      &-icon {
        width: 55px;
        height: 55px;
      }
      &-btn {
        font-size: 24px;
        line-height: 42px;
      }
    }
  }
  .button-icon {
    width: 160px;
    height: 60px;
    position: absolute;
    top: 25%;
    left: 50%;
    align-items: center;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1000;
  }
  .btn {
    width: 100%;
    background: #32a1ec;
    color: #fff;
  }
}
